@tailwind base;
@tailwind components;
@tailwind utilities;

._carouselGradient{
    background: linear-gradient(to bottom, rgba(0,0,0,0), rgba(0,0,0));
}
/* hide scrollbar while still scrollable */
.scrollbar-hide::-webkit-scrollbar {
  display: none;
}
.scrollbar-hide {
  scrollbar-width: none;
}
